<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Blog Personal</title>
</head>
<body>
    <header>
        <img id="logo" src="./img/persona logo.png" alt="logo de persona">
        <section class="titulos">
            <h1>Blog Personal</h1>
            <h2>Genaro Mazur</h2>
        </section>
        <nav>
            <ul class="nav-bar">
                <li><a href="https://github.com/GenaroMazur" target="_blank">Mi Github |</a></li>
                <li><a href="https://https://www.instagram.com/soy_gena_nojodas/" target="_blank">| Mi Instagram</a></li>
            </ul>
        </nav>
    </header>
    <article>
        <section class="contend">
            <h5>About Me</h5>
            <span>
                Mi aficion es programar, las matematicas y el ajedrez.
                actualmente trabajo en un proyecto en grupo conformado
                por 4 integrantes:Fabricio,leandro,camila y yo.
            </span>
            <img src="./img/persona logo.png" alt="">
        </section>
        <section class="contend">
            <span>Habilidades</span>
            <ol>
                <li>JavaScript</li>
                <li>Python</li>
                <li>html</li>
                <li>css</li>
            </ol>
        </section>
        <section class= "contend" id="table">
                <p>Mis Rutinas</p>
                <table id="rutinas">
                    <tr>
                        <td>Horarios</td>
                        <td>Lunes</td>
                        <td>Martes</td>
                        <td>Miercoles</td>
                        <td>Jueves</td>
                        <td>Viernes</td>
                        <td>Sabado</td>
                    </tr>
                    <tr>
                        <td>5:00-8:00</td>
                        <td>Gimnasio</td>
                        <td>Gimnasio</td>
                        <td>Gimnasio</td>
                        <td>Trabajo</td>
                        <td>Trabajo</td>
                        <td>Trabajo</td>
                    </tr>
                    <tr>
                        <td>8:00-12:00</td>
                        <td>Programacion</td>
                        <td>Programacion</td>
                        <td>Programacion</td>
                        <td>Trabajo</td>
                        <td>Trabajo</td>
                        <td>Trabajo</td>
                    </tr>
                    <tr>
                        <td>12:00-1:00</td>
                        <td>Almuerzo</td>
                        <td>Almuerzo</td>
                        <td>Almuerzo</td>
                        <td>Almuerzo</td>
                        <td>Almuerzo</td>
                        <td>Almuerzo</td>
                    </tr>
                    <tr>
                        <td>2:00-7:00</td>
                        <td>Facultad</td>
                        <td>Facultad</td>
                        <td>Facultad</td>
                        <td>Facultad</td>
                        <td>Facultad</td>
                        <td>Cooworking</td>
                    </tr>
                    <tr>
                        <td>7:00-9:00</td>
                        <td>Facultad</td>
                        <td>Digital House</td>
                        <td>Libre</td>
                        <td>Digital House</td>
                        <td>Libre</td>
                        <td>Cooworking</td>
                    </tr>
                </table>
        </section>
    </article>
    <footer>
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Cum porro repellendus non atque ullam repellat voluptatibus sapiente ea, 
            corporis impedit accusantium, delectus quos earum dolores odit nulla? Impedit, quo veniam?
        </span>
        <span>
            Contactame:
            <ul class="nav-bar">
                <li>+54 9 376 4560-397</li>
                <li><a href="https://https://www.instagram.com/soy_gena_nojodas/" target="_blank">soy_gena_nojodas</a></li>
                <li><a href="https://github.com/GenaroMazur" target="_blank">Genaro Mazur</a></li>
            </ul>
        </span>
    </footer>
</body>
</html>